$h1FontStyle : Varela;
$textFontStyle : Sarala;
$validationColor : #0DA02E;
$errorColor : #D80404;
$errorBackgroundColor : #FF0E0E;
$h1FontSize : 30px;
$pFontSize : 20px;
$inputFontSize : 20px;
$spanFontSize : 14px;
$pFontSizePhone : 18px;
$inputFontSizePhone : 18px;
$spanFontSizePhone : 10px;
$placeHolderFontSize : 16px;


// Light mode : 

$formBackgroundColor : #F9F9F9;
$inputBackgroundColor : #FFFFFF;
$buttonBackgroundColor : #1662D3;
$textColor : #212121;
$spanColor : #FF0000;
$placeholderColor : #898989;
$caretColor : #00B1E9;
$moonHover : #212121;
$validationBackgroundColor : #9FCE97;

// Dark mode : 

$formBackgroundColorDark : #0d0d1c;
$inputBackgroundColorDark : #567de2;
$textColorDark : #cacaca;
$sunColor : #e4a90f;
$sunHover : #00f0ff;
$validationBackgroundColorDark: #B2DFAB;
$buttonBackgroundColorClickedDark: #193B70;

.light-mode{
    background-image: url("../Assets/Media/light_background.png");
    
    form{
        background: rgba(243, 243, 243, 0.6);
    }
    h1{
        color: $textColor;
    }
    .fa-moon:active{
        background-color: #565656;
        color: transparent;
        text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }
    .fa-sun{
        visibility: hidden;
    }
    p{
        color: $textColor;
    }
    span{
        color: $spanColor;
    }
    input{
        color: $textColor;
        background-color: rgba(255, 255, 255, 0.7); // fond de l'input opacité à 70%
    }
    textarea{
        color: $textColor;
        background-color: rgba(255, 255, 255, 0.7); // fond de l'input opacité à 70%
    }
    button{
        background-color: rgba(22, 98, 211, 0.6);
    }
    button:hover{
        background-color: rgba(22, 98, 211, 0.4);
    }
    button:active{
        background: rgba(22, 98, 211, 0.25);
        box-shadow: inset 0px 4px 4px #0F0F0F;
    }
}

.dark-mode{
    background-image: url("../Assets/Media/dark_background.png");
    
    form{
        background: rgba(13, 13, 28, 0.75);
    }
    h1{
        color: $textColorDark;
    }
    .fa-moon{
        visibility: hidden;
    }
    .fa-sun{
        visibility: visible;
    }
    .fa-sun:active{
        background-color: #565656;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(0, 255, 242, 0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
    }
    p{
        color: $textColorDark;
    }
    span{
        color: $spanColor;
    }
    input{
        color: $textColorDark;
        background-color: rgba(86, 125, 226, 0.2); // fond de l'input opacité à 20%
    }
    textarea{
        color: $textColor;
        background-color: rgba(86, 125, 226, 0.2); // fond de l'input opacité à 20%
    }
    button{
        background-color: rgba(22, 98, 211);
        color: $textColorDark;
    }
    button:hover{
        background: #3687FF;
        box-shadow: 0px 0px 15px #00F0FF;
    }
    button:active{
        background: $buttonBackgroundColorClickedDark;
        box-shadow: inset 0px 6px 10px rgba(255, 255, 255, 0.25);
    }
}

*{
    margin: 0;
    padding: 0;
}

body{
    
    height: 120vh;
    width: 99vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 21% 80%;
    grid-template-rows: 85% 15%;
}
form{
    grid-area: 1 / 1 / -1 / -1;
    justify-self: center;
    align-self: center;
    height: 90%;
    width: 65%;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 5% 40% 10% 40% 5%;
    grid-template-rows: 10% 10% 15% 15% 15% 20% 10% 5%;
}
h1{
    font-size: $h1FontSize;
    font-family: $h1FontStyle;
    grid-area: 1 / 1 / 1 / -1;
    justify-self: center;
    align-self: flex-end;
}
div{
    grid-area: 1 / 5 / 1 / 5;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-self: center;
    font-size: 50px;
    display: grid;
    grid-template: 100% / 100%;
}
.fa-moon:hover{
    cursor: pointer;
    opacity: 70%;
}
.fa-moon{
    grid-area: 1 / 1 / 1 / 1;
    justify-self: center;
    align-self: center;
}
.fa-sun{
    grid-area: 1 / 1 / 1 / 1;
    justify-items: center;
    align-self: center;
    color: $sunColor;
}
.fa-sun:hover{
    cursor: pointer;
    color: $sunHover;
    text-shadow: 0px 0px 15px rgba(0, 238, 255, 0.7);
}
p{
    font-size: $pFontSize;
    font-family: $textFontStyle;
}
input{
    border: none;
    outline: none;
    font-size: 20px;
    caret-color: $caretColor;
    padding-left: 10px;
}
::placeholder{
    font-family: $textFontStyle;
    font-size: 16px;
    position: absolute;
}
textarea{
    border: none;
    outline: none;
    font-size: 20px;
    caret-color: $caretColor;
    padding-left: 10px;
}
input:focus::placeholder{
    transition: 0.5s ease-in;
    color: transparent;
}
textarea:focus::placeholder{
    transition: 0.5s ease-in;
    color: transparent;
}
p:nth-child(1n){
    grid-area: 3 / 2 / 3 / 2;
    align-self: flex-start;
}
p:nth-child(2n){
    grid-area: 4 / 2 / 4 / 2;
    align-self: flex-start;
}
p:nth-child(4n){
    grid-area: 5 / 2 / 5 / 2;
}
p:nth-child(5n){
    grid-area: 6 / 2 / 6 / 2;
}
.firstName{
    grid-area: 3 / 2 / 3 / 2;
    align-self: center;
    height: 30%;
}
.lastName{
    grid-area: 3 / 4 / 3 / 4;
    align-self: center;
    height: 30%;
}
.mail{
    grid-area: 4 / 2 / 4 / 2;
    align-self: center;
    height: 30%;
}
.subject{
    grid-area: 5 / 2 / 5 / 2;
    align-self: center;
    height: 30%;
}
.message{
    grid-area: 6 / 2 / 6 / -2;
    align-self: flex-end;
    height: 72%;
}
button{
    grid-area: 2 / 2 / 2 / 2;
    font-family: $h1FontStyle;
    font-size: $pFontSize;
    font-family: $textFontStyle;
    align-self: flex-start;
    height: 20%;
    width: 10%;
    background-color: $buttonBackgroundColor;
    border-radius: 5px;
    box-shadow: 5px 5px 4px rgba(23, 23, 23, 0.25);
    border: none;
}
button:hover{
    cursor: pointer;
}
span{
    grid-area: 8 / 2 / 8 / 2;
    font-family: $textFontStyle;
    font-size: $spanFontSize;
    align-self: center;
}